.bday-header {
	height: 100vh;
	display: flex;
    align-items: center;
    justify-content: center;
	background-color: #f8dcf1;;
}
.bday-wish-header {
    display: block;
    position: absolute;
    bottom: 40%;
    left: 40%;
}
img.responsive-image {
    max-width: 100%;
    max-height: 100%;
}
* {
  box-sizing: border-box;
}

h1 {
  color: #333;
  font-family: tahoma;
  font-size: 3rem;
  font-weight: 100;
  line-height: 1.5;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 550px;
}

h1 span {
  font-size: 35px;
  margin-left: 25px;
}

.message {
  background-color: yellow;
  color: #333;
  display: block;
  font-weight: 900;
  overflow: hidden;
  position: absolute;
  padding-left: 0.5rem;
  top: 0.2rem;
  left: 250px;
  animation: openclose 5s ease-in-out infinite;
}

.word1, .word2, .word3 {
  font-family: tahoma;
}
.text-xs-center {
	text-align: center;
}
.carousel-inner {
	text-align: center !important;
}
.img-fluid {
    max-width: 100%;
    height: auto;
    max-height: 90vh !important;
}
canvas#canvas {
  display: block;
  background: #F4F5F7;
  position: absolute;
}
#player {
	visibility: hidden;
	position: absolute;
}
.encircle {
	cursor: pointer;
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 60px;
    border: solid 2px #fff;
    position: absolute;
    bottom: 100px;
    left: 52%;
    background: #fff;
    box-shadow: 0px 0px 3px 1px #9c9c9c;
}
#leftClick{
    left: 97%;
    bottom: 10px;
}
.bounce {
    -webkit-animation: bounce 2s infinite;
    -moz-animation: bounce 2s infinite;
    -ms-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}
.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.arrow {
    margin: 3px 10px;
    width: 15px;
    height: 15px;
    background-size: contain;
}
div#hyperLinkURL {
    position: absolute;
    bottom: 40%;
    left: 30%;
    font-size: 40px;
}
@keyframes bounce {
    20%,
    53%,
    80%,
    from,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(.755, .050, .855, .060);
        animation-timing-function: cubic-bezier(.755, .050, .855, .060);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0)
    }
    70% {
        -webkit-animation-timing-function: cubic-bezier(.755, .050, .855, .060);
        animation-timing-function: cubic-bezier(.755, .050, .855, .060);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0)
    }
    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0)
    }
}

@media only screen and (max-width: 600px) {
  .bday-wish-header {
    padding-top: 100%;
  }
  #leftClick {
    left: 85%;
  }
  .bday-wish-header {
    left: 0%;
}
}
@keyframes openclose {
  0% {
    top: 0.2rem;
    width: 0;
  }
  5% {
    width: 0;
  }
  15% {
    width: 140px;
  }
  30% {
    top: 0.2rem;
    width: 140px;
  }
  33% {
    top: 0.2rem;
    width: 0;
  }
  35% {
    top: 0.2rem;
    width: 0;
  }
  38% {
    top: -4.5rem;
    
  }
  48% {
    top: -4.5rem;
    width: 140px;
  }
  62% {
    top: -4.5rem;
    width: 140px;
  }
  66% {
    top: -4.5rem;
    width: 0;
    text-indent: 0;
  }
  71% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  86% {
    top: -9rem;
    width: 140px;
  }
  95% {
    top: -9rem;
    width: 140px;
  }
  98% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  100% {
    top: 0;
    width: 0;
    text-indent: 0;
  }
}